* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
div {
    text-align: center;
    margin: 15px;
}
.blue {
    color: aqua;
}
.yellow {
    color: yellow;
}
#l {
    margin-bottom: 25px;
}
.money {
    color: white;
}